services:
  api:
    build:
      context: ./deployment/api
      dockerfile: Dockerfile
    container_name: sentiment_api
    ports:
      - "8000:8000"  # API FastAPI
      - "8501:8501"  # Streamlit
    environment:
      MLFLOW_TRACKING_URI: "${MLFLOW_TRACKING_URI}"        # ex: http://mlflow:5000
      MLFLOW_S3_ENDPOINT_URL: "${MLFLOW_S3_ENDPOINT_URL}"  # ex: url MinIO ou S3
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"            # clé ID S3
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"    # clé secrète S3

      SMTP_SERVER: "${SMTP_SERVER}"                         # serveur SMTP
      SMTP_PORT: "${SMTP_PORT}"                             # port SMTP (ex: 587)
      SMTP_EMAIL: "${SMTP_EMAIL}"                           # email expéditeur
      SMTP_PASSWORD: "${SMTP_PASSWORD}"                     # mot de passe SMTP
      SMTP_FROM_ALIAS: "${SMTP_FROM_ALIAS}"                 # alias (optionnel)
      ADMIN_EMAIL: "${ADMIN_EMAIL}"                         # email admin destinataire

# only if you have a reverse proxy server
#    networks:
#      - swag
    restart: always
# only if you have a reverse proxy server
# networks:
#   swag:
#     external: true
